<launch>
    <!-- MAVROS configuration arguments -->
    <arg name="fcu_url" default="$(optenv FCU_URL tcp://127.0.0.1:5760)"/>
    <arg name="gcs_url" default=""/>
    <arg name="tgt_system" default="1"/>
    <arg name="tgt_component" default="1"/>
    <arg name="log_output" default="screen"/>
    <arg name="fcu_protocol" default="v2.0"/>
    <arg name="respawn_mavros" default="true"/>
    
    <!-- Include the standard MAVROS launch file -->
    <include file="$(find mavros)/launch/apm.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value="$(arg gcs_url)"/>
        <arg name="tgt_system" value="$(arg tgt_system)"/>
        <arg name="tgt_component" value="$(arg tgt_component)"/>
        <arg name="log_output" value="$(arg log_output)"/>
        <arg name="fcu_protocol" value="$(arg fcu_protocol)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <!-- bridge_mavlink configuration arguments -->
    <arg name="publish_rate" default="20.0"/>
    <arg name="use_degrees" default="false"/>
    <arg name="odom_topic" default="/mavros/local_position/odom"/>

    <!-- Launch the bridge_mavlink node -->
    <node pkg="bridge_mavlink" type="bridge_mavlink_node" name="bridge_mavlink_node" output="screen">
        <param name="publish_rate" value="$(arg publish_rate)"/>
        <param name="use_degrees" value="$(arg use_degrees)"/>
        <param name="odom_topic" value="$(arg odom_topic)"/>

        <rosparam param="/bridge_routes/bridge_mavlink_state">
            protocol: mqtt
            topic_type: pub_state
            ros_topic: /dank/status
            remote_uri: /state
        </rosparam>
        <rosparam param="/bridge_routes/bridge_mavlink_state_ws">
            protocol: ws
            topic_type: pub_state
            ros_topic: /dank/status_ws
            remote_uri: /ws
        </rosparam>
        <rosparam param="/bridge_routes/bridge_mavlink_get_gps">
            protocol: http
            ros_topic: /get_gps
            remote_uri: /get_gps
        </rosparam>
        
    </node>

    <!-- Launch the status_ws_bridge node for websocket decoupling -->
    <node pkg="bridge_mavlink" type="status_ws_bridge_node" name="status_ws_bridge_node" output="screen" />
</launch>
